@use 'common';

.search-bar-body {
    background-color: pink;
    width: 100%;
    height: 100%;
    display: flex;
}

.search-bar-input {
    width: 90%;
}

.search-icon {
    background-color: green;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}